---
---

<!DOCTYPE html>
<html class="" lang="en" data-lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.site.seo.description }}">
  <meta rel="author" href="{{ site.data.site.links.github }}">
  <meta rel="publisher" href="{{ site.data.site.links.github }}">
  
  <META http-equiv="refresh" content="2; URL=/">
  
  <title>{{ site.data.site.title }}</title>

  <link rel="stylesheet" href="/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  {% include analytics.html %}
</head>
<body class="form-success">


{% include controls.html %}

<main class="success-message">
  <h1>
    <span data-lang-content="en">Form submitted successfully!</span>
    <span data-lang-content="de">Formular erfolgreich gesendet!</span>
  </h1>

  <p data-lang-content="en">Please wait while we return you to {{ site.data.site.title }}.</p>
  <p data-lang-content="de">Bitte warten Sie, waehrend wir Sie zu {{ site.data.site.title }} zurueckbringen.</p>
</main>




<script src="{{ site.github.url }}/assets/js/site.js"></script>
</body>
</html>
