---
---

<!DOCTYPE html>
<html class="" lang="en" data-lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.site.seo.description }}">
  <meta rel="author" href="{{ site.data.site.links.github }}">
  <meta rel="publisher" href="{{ site.data.site.links.github }}">

  <title>{{ site.data.site.title }}</title>

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include analytics.html %}
</head>
<body>

{% include controls.html %}

{% include hero.html %}

{% include about.html %}

{% include experience.html %}

{% include publications.html %}

{% include education.html %}

{% include interests.html %}

{% include contact.html %}

{% include form.html %}


{% include footer.html %}

<script src="{{ site.github.url }}/assets/js/site.js"></script>
</body>
</html>
