{% assign cv_en = site.data.cven %}
{% assign cv_de = site.data.cvde %}

<section id="experience" class="section-experience">
  <h3>
    <span data-lang-content="en">Experience</span>
    <span data-lang-content="de">Erfahrung</span>
  </h3>

  <div class="section-intro">
    <p data-lang-content="en">Chronological View of Research Engineering, Data Science, and Software Systems Work.</p>
    <p data-lang-content="de">Chronologische Ansicht von Research Engineering, Data Science und Software-Systems-Arbeit.</p>
  </div>

  <div data-lang-content="en">
    {% include experience-list.html cv=cv_en %}
  </div>
  <div data-lang-content="de">
    {% include experience-list.html cv=cv_de %}
  </div>
</section>
